
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');


header{
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between;
    margin-left: 24px;
    margin-top: 25px;
    margin-right: 24px;
}

body{
    width: 375px;
    box-sizing: border-box;
    background-color: white;
    margin: auto;
    overflow-x: hidden;
    font-family: 'Barlow';
 
}
header button{
    width: 150px;
    height: 48px;
    background-color: rgba(232, 239, 242, 1);
    border: none;
    border-radius: 10px;
    font-family: 'Barlow';
font-size: 16px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: rgba(22, 37, 66, 1);
text-transform: uppercase;
    white-spacing: nowrap;
}
h1{
    width: 327px;
height: 96px;
font-family: 'Barlow';
font-size: 48px;
font-weight: 900;
line-height: 48px;
letter-spacing: 0px;
color: rgba(22, 37, 66, 1);
text-transform: uppercase;
margin-left: 24px;
}
h2{
    width: 327px;
height: 78px;
font-family: 'Barlow';
font-size: 16px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: rgba(123, 139, 173, 1);
margin: 32px 24px;


}




main button{

    width: 150px;
    height: 48px;
    background-color: rgba(241, 103, 24, 1);
    color: white;
    border: 0px;
    border-radius: 10px;
    font-family: 'Barlow';
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0px;
   text-align: center;
   text-transform: uppercase;
   margin-left: 19px;
    white-spacing: nowrap;


    
}
span{
    width: 127px;
height: 26px;
font-family: 'Barlow';
font-size: 16px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
color: rgba(123, 139, 173, 1);
text-transform: uppercase;


}
main span{
    position: absolute;
    margin-top: 10px;
    margin-left: 35px;
}

.image1{
    margin: 55px 22px;
    border-radius: 20px 0px 0px 20px;
}
.image1tb{
    display: none;
}
.image1des{
    display: none;

}
.empty1{

    display: none;
}


.image2tb , .image2des, .image3tb ,.image3des , .empty2 {

    display: none;
    
}
.image3{
    width:60% ;
    height: 200px;
    border-radius: 15px;
    margin-left: 25px;
    position: relative;
    top: -30px;

}
 .image2{
    position: relative;
    top: -35px;
 }

 h3{
    width: 255px;
    height: 108px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 32px;
    line-height:36px;
    text-align: center;
    color: rgba(22, 37, 66, 1);
    margin: 45px 55px;
   }
   
   h4{
       width: 327px;
       height: 104px;
       font-family: 'Barlow';
       font-weight: 500;
       font-size: 16px;
       line-height: 26px;
       color: rgba(123, 139, 173, 1);
       text-align:center;
       margin: 45px 20px; ;
   }



   .icon1{
    margin: 90px 155px;
}


.text3{
    width: 327px;
    height: 56px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(22, 37, 66, 1);
    margin: -30px 20px ;
  
   
}

.text4{
 width: 327px;
 height: 104px;
 font-family: 'Barlow';
 font-weight: 500;
 font-size: 16px;
 line-height: 26px;
 text-align: Center;
 color: rgba(123, 139, 173, 1);
 margin: 50px 19px;
}
.icon2{

    margin: 90px 155px;
}

.text5{
    width: 327px;
    height: 56px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(22, 37, 66, 1);
    margin: -19px 25px;
}

.text6{
    width: 327px;
    height: 104px;
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    text-align: center;
    margin: 43px 15px;
}

.icon3{
    margin: 90px 155px;
}

.text7{
    width: 327px;
    height: 56px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: rgba(22, 37, 66, 1);
    text-align: center;
    margin: -19px 25px;
    text-align: center;

}


.text8{
    width: 327px;
    height: 104px;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    text-align: center;
    margin: 43px 15px;
}

.icon4{
    margin: 90px 155px;
}

.text9{
    width: 327px;
    height: 56px;
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: rgba(22, 37, 66, 1);
    text-align: center;
    margin: -19px 17px;
   
}
.text10{
    width: 327px;
    height: 104px;
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: rgba(123, 139, 173, 1);
    text-align: center;
    margin: 43px 15px;
}

.text12{
 font-family: 'Barlow';
 font-weight: 700;
 color: rgba(123, 139, 173, 1);
 font-size: 16px;
 line-height: 26px;
 margin: 160px 50px;
 position: relative;
 top: -40px;
 left: -5px;
 

}


.text13{
font-family: 'Barlow';
 font-weight: 500;
 color: rgba(123, 139, 173, 1);
 font-size: 16px;
 line-height: 26px;
 margin: 70px 170px;
 position: relative;
 top: -225px;
 white-space: nowrap;
}
.text11{
    position: relative;
    left: 20px;


}
